.upcoming-anime {
    padding-left: 40px;

    .upcoming-anime__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

    }
}